* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin:0px;
	padding:0px;
}
body{
	background: #34B893 none repeat scroll 0 0;
	color: #000;
	font-family: "Verdana",Times,Baskerville,Georgia,serif;
	font-size: 100%;
}

#container{
	max-width:700px;
	margin: 20px auto;
	border: 1px solid #999;
	padding:20px;
	background: #DEB6CD;
}
#title{
	background:#333;
	color:#ccc;
	padding:20px;
	text-align: center;	
	margin-top: 20px;
	border-bottom: 2px solid #DEB6CD;
}
h1, h2{
	font-family: Cambria, Georgia, serif;
	font-size:200%;
	font-weight: normal;
	line-height: 1.4em;
}
h2{
	font-size: 160%;
}

#faq img {
	height:25px;
	width:25px;
	margin: 10px 8px 0px 8px;
	vertical-align: bottom;	
	margin-right:20px;
}

dt{
	font-family: Cambria, Georgia, serif;
	font-size: 140%;
	font-weight: bold;
	background: #34B893;
	color:#fff;
	padding-bottom: 15px;
	border-top: 2px solid #DEB6CD;
	border-bottom: 2px solid #DEB6CD;
	cursor: pointer;
}

dd{
	padding:10px;
	background: #E3C3D5;
	padding-bottom: 20px;
	line-height: 1.4em;
}
.rotate{
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}
a:focus{
	outline: 2px solid #069;
}
a:link, a:active, a:visited{
	color:#00c;
	text-decoration: none;
}
a:hover{
	color:#00f;
	text-decoration: none;
}
